.header {
  background-color: #ffffff;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.logo {
  display: flex;
}

.infoPhone {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.phoneNumber {
  margin-left: 21px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: 58px;
}

.fb {
  margin-right: 26px;
}

.russia {
  display: flex;
  align-items: center;
  margin-left: 66px;
}

.listButton {
  display: flex;
  align-items: center;
  margin-left: 14px;
  padding: 0;
  background: transparent;
}

.line {
  width: 100%;
  height: 1px;
  margin: 9.5px 0 22.5px;
  border: 0;
  background-color: #55a63080;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  color: inherit;
  text-decoration: none;
}
